<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
	<header class="masthead mb-auto">
		<div class="inner">
			<h3 class="masthead-brand">FASTRATE</h3>
			<nav class="nav nav-masthead justify-content-center">
				<a class="nav-link active" href="#">Home</a>
				<a class="nav-link" href="#">Features</a>
				<a class="nav-link" href="#">Contact</a>
			</nav>
		</div>
	</header>
	<main role="main" class="inner cover position-relative">
		<div class="row">
			<div class="col-md-6">
				<h1 class="cover-heading">Fast Rate Insurance</h1>
				<p class="lead">The easy way to compare and buy life insurance</p>
				<p class="lead">
					<%= link_to "Get Started", step1_wizard_path, class: 'btn btn-lg btn-primary' %>
				</p>
			</div>
			<div class="col-md-6 d-none d-md-block d-lg-block d-xl-block">
				<img class="img-fluid" src="https://i.imgur.com/HGGiKNQ.png">
			</div>
		</div>
		<div id="shape" class="position-absolute">
		<img class="svg-clipped" src="https://i.ytimg.com/vi/aPZ2-RCnhaQ/maxresdefault.jpg" alt="Cherry Blossoms.">
		<svg height="0" width="0">
			<defs>
			<clipPath id="svgPath">
			<path fill="#FFFFFF" stroke="#000000" stroke-width="1.5794" stroke-miterlimit="10" d="M215,100.3c97.8-32.6,90.5-71.9,336-77.6
				c92.4-2.1,98.1,81.6,121.8,116.4c101.7,149.9,53.5,155.9,14.7,178c-96.4,54.9,5.4,269-257,115.1c-57-33.5-203,46.3-263.7,20.1
				c-33.5-14.5-132.5-45.5-95-111.1C125.9,246.6,98.6,139.1,215,100.3z"/>
				</clipPath>
				</defs>
			</svg>
		</div>
		</main>
		<footer class="mastfoot mt-auto">
			<div class="inner text-center">
				<ul class="list-inline">
					<li class="list-inline-item"><a href="#">Privacy</a></li>
					<li class="list-inline-item"><a href="#">Terms</a></li>
					<li class="list-inline-item"><a href="#">Support</a></li>
				</ul>
			</div>
		</footer>
	</div>
</div>