 <div class="container pt-5">
  <div class="row">
    <div class="col-md-6">
      <h1>The easy way to compare and buy life insurance</h1>
  <%= link_to "Get Started", step1_wizard_path, class: 'btn btn-primary' %>
</div> 
    <div class="col-md-6">
      <img class="img-fluid" src="https://policygenius-images.imgix.net/photos/home/mother-holding-yawning-baby.jpg?fit=max&auto=format&ch=Width,DPR&w=720">
    </div>
  </div>
</div>