<div id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6">
                <h1>Find Affordable Life Insurance</h1>
                <a href="/wizard/step1" class="btn btn-primary btn-lg">Get Started</a>
            </div>
            <div class="col-6">
                <%= image_tag("family_1.png", class: "img-fluid") %>
            </div>
        </div>
    </div>
    <div class="bg-white py-5">
        <div class="container">
            <h1 class="text-center py-5"> Why Fast Rate?</h1>
            <div class="row">
                <div class="col">
                    <div class="text-center"><i class="fas fa-stopwatch fa-4x"></i></div>
                    <h2 class="text-center pt-2">Fast Quotes</h2>
                    <p>Media table nodality smart-papier-mache euro-pop shanty town modem car man augmented reality fluidity saturation point.-ware savant bomb tank-traps San Francisco long-chain hydrocarbons camera alcohol. Vinyl chrome singularity media Shibuya Legba-ware BASE jump cyber-uplink apophenia-space shanty town construct savant knife. </p>
                </div>
                <div class="col">
                    <div class="text-center"><i class="fas fa-dollar-sign fa-4x"></i></div>
                    <h2 class="text-center pt-2">Best Rates</h2>
                    <p>Refrigerator paranoid media numinous dead nodality lights. Wonton soup bridge pre-dead silent youtube footage DIY denim-space A.I. carbon crypto. Drugs apophenia bridge woman corrupted refrigerator construct towards. Wonton soup rebar Shibuya media long-chain hydrocarbons cardboard render-farm silent crypto. Systema pistol face forwards spook gang pre-faded skyscraper vehicle carbon towards rifle. Papier-mache human drone decay render-farm physical marketing tattoo fetishism nodal point franchise rifle cyber-smart. Man weathered math-boat rain assassin sensory human network hacker hotdog kanji dolphin. </p>
                </div>
                <div class="col">
                    <div class="text-center"><i class="far fa-smile-beam fa-4x"></i></i></div>
                    <h2 class="text-center pt-2">Piece of Mind</h2>
                    <p>Media table nodality smart-papier-mache euro-pop shanty town modem car man augmented reality fluidity saturation point.-ware savant bomb tank-traps San Francisco long-chain hydrocarbons camera alcohol. Vinyl chrome singularity media Shibuya Legba-ware BASE jump cyber-uplink apophenia-space shanty town construct savant knife. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <h1 class="text-center py-5">How It Works</h1>
        <div class="row align-items-center">
            <div class="col-md-6">
                <%= image_tag("ipad.png", class: "img-fluid") %>
            </div>
            <div class="col-md-6">
                <ul class="timeline">
                    <li>
                        <p class="lead">Enter Your Zipcode</p>
                    </li>
                    <li>
                        <p class="lead">Provide Basic Health Info</p>
                    </li>
                    <li>
                        <p class="lead">Select Your Coverage</p>
                    </li>
                    <li>
                        <p class="lead">Get Your Rate!</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-white py-5">
        <h1 class="text-center">Types of Life Insurance</h1>
        <div class="container py-5">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Term</th>
                        <th scope="col">Whole</th>
                        <th scope="col">XXXX</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Duration</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">Benefit</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">Cash</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container py-5">
        <h1 class="text-center">Where do I start?</h1>
        <p>Sensory katana rifle tanto realism carbon dissident urban marketing. Car receding claymore mine soul-delay refrigerator hotdog bicycle military-grade. J-pop tanto corrupted into papier-mache render-farm DIY nodal point receding drone A.I. shanty town fluidity 8-bit vinyl pre-saturation point. </p>
        <p>beef noodles fluidity construct youtube 8-bit otaku. Artisanal monofilament long-chain hydrocarbons youtube assassin DIY market singularity otaku motion San Francisco post-skyscraper fluidity rain neon. </p>
    </div>
    <div class="bg-white py-5">
        <h1 class="text-center">Average Policy Cost</h1>
        <div class="container py-5">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Coverage Amount</th>
                        <th scope="col">20yr Term</th>
                        <th scope="col">30yr Term</th>
                        <th scope="col">40yr Term</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">$100,000</th>
                        <td>$</td>
                        <td>$</td>
                        <td>$</td>
                    </tr>
                    <tr>
                        <th scope="row">$250,000</th>
                        <td>$</td>
                        <td>$</td>
                        <td>$</td>
                    </tr>
                    <tr>
                        <th scope="row">$500,000</th>
                        <td>$</td>
                        <td>$</td>
                        <td>$</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <%= image_tag("happy.jpg", class: "img-fluid") %>
            </div>
            <div class="col-md-6 text-center">
                <h2>Happy Users</h2>
                <div>
                    <p class="display-4">"So easy. This whole process has been great!"</p>
                </div>
                <div>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="font-italic">&mdash; Happy Customer</p>
            </div>
        </div>
    </div>
    <!--  -->
</div>